@model RentalRecordViewModel

@{
    ViewData["Title"] = "Rent a Movie";
}

<h1>Checkout Movie</h1>
<form asp-controller="RentalRecords" asp-action="CreateRecord">

    <label for="movie">Movie Name:</label><select name="movie">
    @foreach(var item in Model.Movies)
    {
        <option value=@item.MovieID>@item.MovieName</option>
    }
    </select>
    <label for="customer">Customer Name:</label><select name="customer">
    @foreach(var item in Model.Customers)
    {
        <option value=@item.CustomerID>@item.CustomerName</option>
    }
    </select>

        <p>Rental Date: @Model.RentalDate</p>
        <input type="hidden" name="rentaldate" value=@Model.RentalDate>
        <p>Due Date: @Model.DueDate</p>
        <input type="hidden" name="duedate" value=@Model.DueDate>
        <button type="submit">Checkout</button>
</form>