@{
    ViewData["Title"] = "Movies Home";
}
<div class="container-fluid background-image">
<h1> Movie Rental System </h1>
</div>
<div>
    <h2>Welcome to the most amazing movie tracking system ever!</h2>
    <h3>Click a link up top to start.</h3>
</div>