@{
    ViewData["Title"] = "Movies Home";
}
<div class="container-fluid background-image">
<h1> Movie Rental System </h1>
</div>
<h3>Rent a Movie</h3>
<a asp-controller="RentalRecords" asp-action="Index"><button>Rent</button></a>
<h3>Return a Movie</h3>
<a asp-controller="Home" asp-action="Return"><button>Return</button></a>
<h3>View all Overdue Movies</h3>
<a asp-controller="Home" asp-action="Overdue"><button>Overdue</button></a>